<div class ='is_not'>
    <h1 class = 'title'>Design is ...</h1>
        <div class= 'for_more'>
            <div class = 'for_more_content'>
              <h2 class = 'for_more_title'>It is rooted in everyday</h2>
              <pclass = 'for_more_text'>日常生活に根付いています。<br>
              メールを作成する際には長々と文書を書かない。<br>
              読みやすい様に20文字前後で折り返す。<br>センテンスごとに区切る等々、<br>
              受け手を想い体裁を整えるのも実はデザインです。</p>
          </div>
          <div class= 'picture'>
            <%= image_tag'store_44.png', :class => "for_more_picture  store"%>
           </div>
           <div class= 'picture'>
           <%= image_tag'display_45.png', :class => "for_more_picture display"%>
           </div>
           <div class= 'picture'>
           <%= image_tag'baterry_46.png', :class => "for_more_picture baterry"%>
           </div>
           
           </div>
        </div>
</div>