<div class = 'header'>
    <h1 class = 'title_name'>KAN KOJIMA</h1>
    <h2 class = 'title_dis'>WEBデザイナーを目指す<br>
       小島寛のポートフォリオサイトです。</h2>
</div>

<div class ='untill'>
     <h1 class = 'title'>Up untill now career/これまでのキャリア</h1>
        <div class = 'bird_eye'>
            <div class= 'bird_eye_1'>
                <div class= 'bird_eye_text'>
                    <h2 class='bird_eye_title career_title' >Bird's eye biew/鳥瞰図</h2>
                    <p class = 'bird_eye_disc career_disc'>修羅場からの生還。なんとかできそう。自信満々。<br>
                    大学卒業から現在までのキャリアを極端にまとめると、<br>この３つのキーワードにまとめる事ができます。
                    </p>
                </div>
            </div>
            <div class= 'bird_eye_photo'>
            
            </div>
        </div>
        <div class = 'tough'>
            <div class= 'tough_1'>
                <div class= 'tough_text'>
                    <h2 class='tough_title career_title' >Tough situation/修羅場からの生還</h2>
                    <p class = 'tough_disc career_disc'>店長が逃げた。前任者がいなくなった。<br>
                    しびれるような状況で職務に就く事が何度かありました。<br>
                    確かに最高にしびれる状況でした。<br>
                    しかし、その状況に身を置く事で<br>
                    成長スピードにブーストがかかる事を体験しました。</p>
                </div>
            </div>
            <div class= 'tough_photo'>
            
            </div>
        </div>
        <div class = 'make'>
             <div class= 'make_1'>
                <div class= 'make_text'>
                    <h2 class='make_title career_title' >Make it to/なんとかできそう</h2>
                    <p class = 'make_disc career_disc'>まずは自分で調べる癖が付いています。<br>
                    知らない事を面白がって知る事ができます。<br>
                    仮説を立てる。実証する。検証する。<br>
                    このサイクルをグルグル回す事ができます。</p>
                </div>
            </div>
            <div class= 'make_photo'>
            
            </div>
        </div>
         <div class = 'confident'>
           <div class= 'confident_1'>
                <div class= 'confident_text'>
                    <h2 class='confident_title career_title' >Confidently/自身満々</h2>
                    <p class = 'confident_disc career_disc'>しびれる状況を何回も乗り越えて来た事から、<br>出来る！といつも思っています。<br>
                    乗り越えた先に見える景色も見てみたい。<br>
                    しびれる状況に立ち向かわせる原動力になってます。</p>
                </div>
            </div>
            <div class= 'confident_photo'>
            
            </div>
        </div>
    
    
</div>

<div class ='future'>
    <h1 class = 'title'>From now on career/これからのキャリア</h1>
        <div class = 'interested'>
            <div class= 'interested_1'>
                <div class= 'interested_text'>
                    <h2 class='interested_title career_title' >Be interested/興味があるもの</h2>
                    <p class = 'interested_disc career_disc'>デザインの仕事がしたい。<br>
                    デザイナーを募集していた会社に応募し入社いたしました。<br>
                    かけ離れた職務でしたがデザイナーさんに近い位置で共に仕事をし<br>
                    デザインのイロハを学びました。</p>
                </div>
            </div>
            <div class= 'interested_photo'>
            
            </div>
        </div>
        <div class = 'why'>
            <div class= 'why_1'>
                <div class= 'why_text'>
                    <h2 class='why_title career_title' >Why web design?/どうしてウェブデザイン？</h2>
                    <p class = 'why_disc career_disc'>なんとなくはじめたプログラミングがきっかけでした。<br>
                   制作したポートフォリオの組み立てと分解を繰り返し、<br>
                   幾重の試行錯誤と「できた！」を積み重ね、<br>
                   いつしかこの世界で勝負がしてみたい！と決意しました。<br>
                   </p>
                </div>
            </div>
            <div class= 'why_photo'>
            
            </div>
        </div>
        <div class = 'what'>
            <div class= 'what_1'>
                <div class= 'what_text'>
                    <h2 class='what_title career_title' >What do I want to be/どうなりたいの？</h2>
                    <p class = 'what_disc career_disc'>将来は東京と福岡の２拠点で活動する<br>
                    独立したデザイナーになるのが目標です。<br>
                   まずはWEB制作会社に入社しWEBデザインの<br>
                   職務に従事し開発現場での作法や、<br>多くのデザインの引き出しを作れる様になりたいです。</p>
                </div>
            </div>
            <div class= 'what_photo'>
            
            </div>
        </div>
        <div class = 'what_to'>
            <div class= 'what_to_1'>
                <div class= 'what_to_text'>
                    <h2 class='what_to_title career_title' >What to do now?/その為に何をすべきか？</h2>
                    <p class = 'what_to_disc career_disc'>多くのwebサイトを見まくる事。<br>
                     審美眼を養い自分の中でデザインの軸を形成する事。<br>
                     毎日カークアップしまくる事。<br>
                     そして、転職活動を諦めない事。</p>
                </div>
            </div>
            <div class= 'what_to_photo'>
            
            </div>
        </div>
    
</div>

<div class ='port_forio'>
    <h1 class = 'title'>Port forio</h1>
        <div class= 'port_forio_area'>
            <div class = 'port_forio_area_1'>
                <div class = 'port_forio_area_1_1'>
                    <a href='/portforio/1' class='port_forio_link'><p class='port_forio_title'>Kan Kojima</p></a>
                </div>
                 <div class = 'port_forio_area_1_2'>
                    <a href='/portforio/2' class='port_forio_link'><p class='port_forio_title'>Record app</p></a>
                </div>
                <div class = 'port_forio_area_1_3'>
                    <a href='/portforio/3' class='port_forio_link'><p class='port_forio_title'>Makoto Clinic</p></a>
                </div>
            </div>
            <div class = 'port_forio_area_2'>
                <div class = 'port_forio_area_2_1'>
                    <a href='/portforio/4' class='port_forio_link'><p class='port_forio_title'>Omikuji app</p></a>
                </div>
                 <div class = 'port_forio_area_2_2'>
                    <a href='/portforio/5' class='port_forio_link'><p class='port_forio_title'>Takayuki Yamada</p></a>
                </div>
                <div class = 'port_forio_area_2_3'>
                    <a href='/portforio/6' class='port_forio_link'><p class='port_forio_title'>コジマ カン</p></a>
                </div>
            </div>
            
            <div class = 'port_forio_area_3'>
                <div class = 'port_forio_area_3_1'>
                    <!--<a href='/portforio/1' class='port_forio_link'><p class='port_forio_title'>タイトル</p></a>-->
                </div>
                 <div class = 'port_forio_area_3_2'>
                    <!--<a href='/portforio/1' class='port_forio_link'><p class='port_forio_title'>タイトル</p></a>-->
                </div>
                <div class = 'port_forio_area_3_3'>
                    <!--<a href='/portforio/1' class='port_forio_link'><p class='port_forio_title'>タイトル</p></a>-->
                </div>
            </div>
            <div class = 'port_forio_area_4'>
                <div class = 'port_forio_area_4_1'>
                    <!--<a href='/portforio/1' class='port_forio_link'><p class='port_forio_title'>タイトル</p></a>-->
                </div>
                 <div class = 'port_forio_area_4_2'>
                    <!--<a href='/portforio/1' class='port_forio_link'><p class='port_forio_title'>タイトル</p></a>-->
                </div>
                <div class = 'port_forio_area_4_3'>
                    <!--<a href='/portforio/1' class='port_forio_link'><p class='port_forio_title'>タイトル</p></a>-->
                </div>
            </div>
            <div class = 'port_forio_area_5'>
                <div class = 'port_forio_area_5_1'>
                    <!--<a href='/portforio/1' class='port_forio_link'><p class='port_forio_title'>タイトル</p></a>-->
                </div>
                 <div class = 'port_forio_area_5_2'>
                    <!--<a href='/portforio/1' class='port_forio_link'><p class='port_forio_title'>タイトル</p></a>-->
                </div>
                <div class = 'port_forio_area_5_3'>
                    <!--<a href='/portforio/1' class='port_forio_link'><p class='port_forio_title'>タイトル</p></a>-->
                </div>
            </div>
            </div>

        </div>
        
</div>

<div class = 'design'>
     <h1 class = 'title_design'>Design is ...</h1>
        <div class = 'is_1'>
            <a href = '/design_is/1' class = 'design_link'><h2 class = 'is_title'>Not art</h2></a>
        </div>
        <div class = 'is_2'>
            <a href = '/design_is/2' class = 'design_link'><h2 class = 'is_title'>Solution</h2></a>
        </div>
        <div class = 'is_3'>
            <a href = '/design_is/3' class = 'design_link'><h2 class = 'is_title_rooted'>Rooted everyday life</h2></a>
        </div>
        
</div>
<div class = 'footer'>
    <h1 class = 'footer_title'>And more info</h1>
    <h2 class= 'link'>作品の詳細やお仕事の依頼につきましては、お気軽に下記まで連絡ください。改めて返信いたします。</h2>
    <a class='url' href= 'mailto:ggmufc518@gmail.com'><h2 class = 'link'>ggmufc518@gmail.com</h2></a>
    <a class='url' href= 'https://twitter.com/kankanbang?lang=ja'><h2 class = 'link'>https://twitter.com/kankanbang?lang=ja</h2></a>
    <h2 class= 'end'>© KAN KOJIMA</h2>
</div>


