<div class ='is_not'>
    <h1 class = 'title'>Design is ...</h1>
        <div class= 'for_more'>
            <div class = 'for_more_content'>
              <h2 class = 'for_more_title'>Is not art</h2>
              <pclass = 'for_more_text'>デザインはアートではありません。<br>
              アートは見る人により感じ方や捉え方が違います。<br>
              しかし、デザインはそのものを見た人全ての感じ方や捉え方が同じでなければなりません。</p>
             
          </div>
          <div class= 'picture'>
            <%= image_tag'dot_38.png', :class => "for_more_picture"%>
           </div>
           <div class= 'picture'>
           <%= image_tag'denger_39.png', :class => "for_more_picture"%>
           </div>
           <div class= 'picture'>
           <%= image_tag'tabako_40.png', :class => "for_more_picture"%>
           </div>
        </div>
</div>

