<div class ='is_not'>
    <a href='https://kan1130-record.herokuapp.com/' class='site_link'><h1 class = 'title'>Record app</h1></a>
        <div class= 'for_more'>
            <div class = 'for_more_content'>
              <h2 class = 'for_more_title'>Over view</h2>
              <pclass = 'for_more_text'>Rubyを使用したToDoリストです。<br>
             スクールの課題を一度行い制作の過程を把握し、<br>
             案件の定義をからルーティングやデータベースのデータ型等の設定を行い制作いたしました。</p>
             
          </div>
          <div class= 'picture  port_forio_picture'>
            <%= image_tag'gray_79.png', :class => "for_more_picture pink top"%>
           </div>
           <div class= 'picture'>
           <%= image_tag'gray_80.png', :class => "for_more_picture create"%>
           </div>
        </div>
</div>