<div class ='is_not'>
    <a href='https://kan1113-profile.herokuapp.com/' class='site_link'><h1 class = 'title'>コジマ カンのサイト</h1></a>
        <div class= 'for_more'>
            <div class = 'for_more_content'>
              <h2 class = 'for_more_title'>Over view</h2>
              <pclass = 'for_more_text'>WEBデザイナーになったと仮定し制作した
             自己紹介サイトです。<br>
             最初はテキストエディタでマークアップを行い後に、Railsで組み直し公開いたしました。</p>
             
          </div>
          <div class= 'picture  port_forio_picture'>
            <%= image_tag'gray_82.png', :class => "for_more_picture how"%>
           </div>
           <div class= 'picture'>
           <%= image_tag'gray_83.png', :class => "for_more_picture skill"%>
           </div>
           <div class= 'picture'>
           <%= image_tag'gray_84.png', :class => "for_more_picture contact"%>
           </div>
           <div class= 'picture'>
           <%= image_tag'gray_85.png', :class => "for_more_picture portland"%>
           </div>
        </div>
</div>