<div class ='is_not'>
    <h1 class = 'title'>Makoto Clinicのサイト</h1>
        <div class= 'for_more'>
            <div class = 'for_more_content'>
              <h2 class = 'for_more_title'>Over view</h2>
              <pclass = 'for_more_text'>WEBデザイン講座のワイヤーフレームの制作課題を、モックアップを参照しマークアップいたしました。<br>
             ２カラムレイアウトを初めて制作いたしました。</p>
             
          </div>
          <div class= 'picture  port_forio_picture'>
            <%= image_tag'gray_81.png', :class => "for_more_picture makoto"%>
           </div>
           
        </div>
</div>