<div class ='is_not'>
    <a href='https://kan0115-mysite.herokuapp.com/' class='site_link'><h1 class = 'title'>Takayuki Ymadaのサイト</h1></a>
        <div class= 'for_more'>
            <div class = 'for_more_content'>
              <h2 class = 'for_more_title'>Over view</h2>
              <pclass = 'for_more_text'>架空のゲームクリエイター Takayuki Yamadaの自己紹介サイトです。<br>
              アイコンやロゴは全て自分自身で制作いたしました。</p>
          </div>
          <div class= 'picture  port_forio_picture'>
            <%= image_tag'gray_86.png', :class => "for_more_picture top_face"%>
           </div>
        </div>
</div>