<div class ='is_not'>
    <a href='https://kan0207-omikuji.herokuapp.com/' class='site_link'><h1 class = 'title'>Omikuji app</h1></a>
        <div class= 'for_more'>
            <div class = 'for_more_content'>
              <h2 class = 'for_more_title'>Over view</h2>
              <pclass = 'for_more_text'>おみくじアプリをRubyを使用し制作いたしました。<br>
              Rubyの配列からランダムに要素を取り出す.sampleの
              メソッドを使用しランダムに結果を表示できます。</p>
             
          </div>
          <div class= 'picture  port_forio_picture'>
            <%= image_tag'gray_91.png', :class => "for_more_picture makoto"%>
           </div>
           
        </div>
</div>