/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
    position: absolute;
    width: 100%;
    // height: 9050px;
    // background-color: lightgray;
    margin: 0;
    font-family : ヒラギノ角ゴ StdN;
    color : rgb(0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
}
// headerここから
.header{
    width: 100%;
    height: 500px;
    // background-color: pink;
    margin-bottom: 60px;
}
.title_name{
    margin-top: 0;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding-top: 200px;
    padding-left: 10.2%;
    font-size : 24px;
}
.title_dis{
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 200px;
    box-sizing: border-box;
    padding-left: 10.2%;
    font-size : 18px;
}
// headerここまで
// 各divタイトルここから
.title{
    margin-top: 0;
    margin-bottom: 36px;
    box-sizing: border-box;
    padding-top: 50px;
    padding-left: 10.2%;
    font-size : 24px;
}
.title_design{
    margin-top: 0;
    margin-bottom: 36px;
    box-sizing: border-box;
    margin-top: 50px;
    padding-left: 10.2%;
    font-size : 24px;
}

// 各divタイトルここまで

// untillここから
// untill>title>disctextここから
.career_title{
    font-size: 18px;
    color : rgb(255, 255, 255);

}
.career_disc{
    margin-top: 20px;
    font-size: 14px;
    color : rgb(255, 255, 255);
}
// untill>title>disctextここまで

.untill{
    width: 100%;
    height: 2220px;
    // background-color: gray;
    margin-bottom: 60px;
}
//bird_eyeここから
.bird_eye{
    position: absolute;
    width: 100%;
    height: 450px;
    // background-color: yellow;
    margin-bottom: 60px;
}
.bird_eye_1{
    position: relative;
    top: 0;
    left: 27.5%;
    width: 72.5%;
    height: 450px;
    background : rgba(26, 25, 23, 1);
    margin-left: 0;
    box-sizing: border-box;

}

.bird_eye_title{
    margin: 0;
    box-sizing: border-box;
}
.bird_eye_text{
    position: relative;
    top: 160px;
    left: 45%;
    width: 46%;
    height: 191px;
    box-sizing: border-box;
}
.bird_eye_photo{
    position: relative;
    top: -410px;
    left: 0;
    width: 50.8%;
    height: 370px;
    background:image-url('watch_1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

//bird_eyeここまで
//toughここから
.tough{
    position: relative;
    top : 510px;
    left: 0;
    width: 100%;
    height: 450px;
    // background-color: yellow;
    margin-bottom: 60px;
}
.tough_1{
    position: relative;
    top: 0;
    left: 0%;
    width: 72.5%;
    height: 450px;
    background : rgba(26, 25, 23, 1);
    margin-left: 0;
    box-sizing: border-box;
}

.tough_title{
    margin: 0;
    box-sizing: border-box;

}
.tough_text{
    position: relative;
    top: 140px;
    left: 0%;
    padding-left: 14%;
    width: 46%;
    height: 191px;
}
.tough_photo{
    position: relative;
    top: -410px;
    left: 49.3%;
    width: 50.8%;
    height: 370px;
    background:image-url('cat_2.png');
    background-repeat: no-repeat;
    background-size: cover;
}
//toughここまで
//makeここから
.make{
    position: relative;
    top : 510px;
    left: 0;
    width: 100%;
    height: 450px;
    // background-color: yellow;
    margin-bottom: 60px;
}
.make_1{
    position: relative;
    top: 0;
    left: 27.5%;
    width: 72.5%;
    height: 450px;
    background : rgba(26, 25, 23, 1);
    margin-left: 0;
    box-sizing: border-box;
}

.make_title{
    margin: 0;
    box-sizing: border-box;

}
.make_text{
    position: relative;
    top: 160px;
    left: 45%; 
    width: 46%;
    height: 191px;
    box-sizing: border-box;

}
.make_photo{
    position: relative;
    top: -410px;
    left: 0;
    width: 50.8%;
    height: 370px;
    background:image-url('train_3.png');
    background-repeat: no-repeat;
    background-size: cover;
}
//makeここまで
//confidentここから
.confident{
    position: relative;
    top : 510px;
    left: 0;
    width: 100%;
    height: 450px;
    // background-color: yellow;
    margin-bottom: 120px;
}
.confident_1{
    position: relative;
    top: 0;
    left: 0%;
    width: 72.5%;
    height: 450px;
    background : rgba(26, 25, 23, 1);
    margin-left: 0;
    box-sizing: border-box;
}

.confident_title{
    margin: 0;
    box-sizing: border-box;

}
.confident_text{
    position: relative;
    top: 140px;
    left: 0%;
    padding-left: 14%;
    width: 46%;
    height: 191px;
}
.confident_photo{
    position: relative;
    top: -410px;
    left: 49.3%;
    width: 50.8%;
    height: 370px;
    background:image-url('smile_4.png');
    background-repeat: no-repeat;
    background-size: cover;
}
//confidentここまで
// untillここまで


// futureここから
.future{
    width: 100%;
    height: 2220px;
    // background-color: gray;
    margin-bottom: 60px;
}
//interestedここから
.interested{
    position: relative;
    left: 0;
    width: 100%;
    height: 450px;
    // background-color: yellow;
    margin-bottom: 60px;
}
.interested_1{
    position: relative;
    top: 0;
    left: 27.5%;
    width: 72.5%;
    height: 450px;
    background : rgba(26, 25, 23, 1);
    margin-left: 0;
    box-sizing: border-box;

}

.interested_title{
    margin: 0;
    box-sizing: border-box;

}
.interested_text{
    position: relative;
    top: 160px;
    left: 45%;
    width: 46%;
    height: 191px;
    box-sizing: border-box;

}
.interested_photo{
    position: relative;
    top: -410px;
    left: 0;
    width: 50.8%;
    height: 370px;
    background:image-url('hedge_5.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
//interestedここまで
//whyここから


.why{
    position: relative;
    top : 0px;
    left: 0;
    width: 100%;
    height: 450px;
    // background-color: yellow;
    margin-bottom: 60px;
}
.why_1{
    position: relative;
    top: 0;
    left: 0%;
    width: 72.5%;
    height: 450px;
    background : rgba(26, 25, 23, 1);
    margin-left: 0;
    box-sizing: border-box;
}

.why_title{
    margin: 0;
    box-sizing: border-box;

}
.why_text{
    position: relative;
    top: 140px;
    left: 0%;
    padding-left: 14%;
    width: 46%;
    height: 191px;

}
.why_photo{
    position: relative;
    top: -410px;
    left: 49.3%;
    width: 50.8%;
    height: 370px;
    background:image-url('sea_6.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

//whyここまで
//whatここから
.what{
    position: relative;
    top : 0px;
    left: 0;
    width: 100%;
    height: 450px;
    // background-color: yellow;
    margin-bottom: 60px;
}
.what_1{
    position: relative;
    top: 0;
    left: 27.5%;
    width: 72.5%;
    height: 450px;
    background : rgba(26, 25, 23, 1);
    margin-left: 0;
    box-sizing: border-box;
}

.what_title{
    margin: 0;
    box-sizing: border-box;

}
.what_text{
    position: relative;
    top: 160px;
    left: 45%;
    width: 46%;
    height: 191px;
    box-sizing: border-box;

}
.what_photo{
    position: relative;
    top: -410px;
    left: 0;
    width: 50.8%;
    height: 370px;
    background:image-url('future_7.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

//whatここまで
//what_toここから
.what_to{
    position: relative;
    top : 0px;
    left: 0;
    width: 100%;
    height: 450px;
    // background-color: yellow;
    margin-bottom: 120px;
}
.what_to_1{
    position: relative;
    top: 0;
    left: 0%;
    width: 72.5%;
    height: 450px;
    background : rgba(26, 25, 23, 1);
    margin-left: 0;
    box-sizing: border-box;

}

.what_to_title{
    margin: 0;
    box-sizing: border-box;

}
.what_to_text{
    position: relative;
    top: 140px;
    left: 0%;
    padding-left: 14%;
    width: 46%;
    height: 191px;

}
.what_to_photo{
    position: relative;
    top: -410px;
    left: 49.3%;
    width: 50.8%;
    height: 370px;
    background:image-url('bike_8.png');
    background-repeat: no-repeat;
    background-size: cover;
}
//what_toここまで
// futureここまで


// poriforioここから


// .kojima_9_icon:hover{
//   opacity: 0.5;
// }

.port_forio{
    width: 100%;
    height: 1779px;
    margin-bottom: 60px;
    box-sizing: border-box;
    // background-color: red;
}
.port_forio_area{
    position: absolute;
    width: 100%;
    height: 1540px;
}

.port_forio_1{
    width: 33%;
    height: 308px;
    display: inline-block;
    background-color : rgba(26, 25, 23, 1);
    z-index : 90;
}
.port_forio_title{
    margin-top: 0;
    margin-bottom: 0;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    padding-top: 154px;
    font-size: 14px;
}
.port_forio_link{
    text-decoration: none;
}
// area1ここから
.port_forio_area_1{
    width: 100%;
    height: 308px;
    background-color: pink;
    text-align: center;
}
.port_forio_area_1_1{
    width: 33.3%;
    height: 308px;
    background-color:  rgba(26, 25, 23, 1);
    display: inline-block;
    margin-left: -0.3%;

}
.port_forio_area_1_2{
    width: 33.5%;
    height: 308px;
    background-color:  rgba(0, 0, 0, 1);
    display: inline-block;
    margin-left: -0.3%;
}
.port_forio_area_1_3{
    width: 33.4%;
    height: 308px;
    background-color:  rgba(26, 25, 23, 1);
    display: inline-block;
    margin-left: -0.3%;
}
// area1ここまで
// area２ここから
.port_forio_area_2{
    width: 100%;
    height: 308px;
    // background-color: green;
}
.port_forio_area_2_1{
    width: 33.4%;
    height: 308px;
    background-color:  rgba(0, 0, 0, 1);
    display: inline-block;
    margin-left: -0.3%;

}
.port_forio_area_2_2{
    width: 33.5%;
    height: 308px;
    background-color:  rgba(26, 25, 23, 1);
    display: inline-block;
    margin-left: -0.3%;
}
.port_forio_area_2_3{
    width: 33.3%;
    height: 308px;
    background-color:  rgba(0, 0, 0, 1);
    display: inline-block;
    margin-left: -0.3%;
}
// area２ここまで
// area3ここから
.port_forio_area_3{
    width: 100%;
    height: 308px;
    // background-color: blue;
}
.port_forio_area_3_1{
    width: 33.4%;
    height: 308px;
    background-color:  rgba(26, 25, 23, 1);
    display: inline-block;
    margin-left: -0.3%;

}
.port_forio_area_3_2{
    width: 33.5%;
    height: 308px;
    background-color:  rgba(0, 0, 0, 1);
    display: inline-block;
    margin-left: -0.3%;
}
.port_forio_area_3_3{
    width: 33.3%;
    height: 308px;
    background-color:  rgba(26, 25, 23, 1);
    display: inline-block;
    margin-left: -0.3%;
}
// area3ここまで
// area4ここから

.port_forio_area_4{
    width: 100%;
    height: 308px;
    // background-color: yellow;
}
.port_forio_area_4_1{
    width: 33.4%;
    height: 308px;
    background-color:  rgba(0, 0, 0, 1);
    display: inline-block;
    margin-left: -0.3%;

}
.port_forio_area_4_2{
    width: 33.5%;
    height: 308px;
    background-color:  rgba(26, 25, 23, 1);
    display: inline-block;
    margin-left: -0.3%;
}
.port_forio_area_4_3{
    width: 33.3%;
    height: 308px;
    background-color:  rgba(0, 0, 0, 1);
    display: inline-block;
    margin-left: -0.3%;
}

// area4ここまで
// area5ここから
.port_forio_area_5{
    width: 100%;
    height: 308px;
    // background-color: lightgreen;
}
.port_forio_area_5_1{
    width: 33.4%;
    height: 308px;
    background-color:  rgba(26, 25, 23, 1);
    display: inline-block;
    margin-left: -0.3%;

}
.port_forio_area_5_2{
    width: 33.5%;
    height: 308px;
    background-color:  rgba(0, 0, 0, 1);
    display: inline-block;
    margin-left: -0.3%;
}
.port_forio_area_5_3{
    width: 33.3%;
    height: 308px;
    background-color:  rgba(26, 25, 23, 1);
    display: inline-block;
    margin-left: -0.3%;
}

// area5ここまで
// poriforioここまで
// designここから
.design{
    position: absolute;
    width: 100%;
    height: 1746px;
    // background-color: skyblue;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
}
.is_title{
    position: relative;
    top: 231px;
    text-align: center;
    font-size: 24px;
    color: rgb(255, 255, 255);
}
.is_title_rooted{
    position: relative;
    top: 231px;
    text-align: center;
    font-size: 24px;
    color:  rgb(64, 64, 64);
}
.design_link{
    text-decoration: none;
}
.is_1{
    position: relative;
    top: 0;
    left: 0;
    width: 80.3%;
    height: 463px;
    background-color: yellow;
    margin: 0 auto;
    background:image-url('picaso_20.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position: top 0px left 0;
    transition: all 1.0s;

}
// .is_1:hover{
//     background:image-url('picasocolor_23.png');
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: center;
//     background-position: top 0px left 0;
//     // transition: 1.0s ;
// }

.is_2{
    position: relative;
    top: 0;
    left: 0;
    width: 80.3%;
    height: 463px;
    background-color: yellow;
    margin: 0 auto;
    background:image-url('jr_21.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right 35% bottom 45%;
    margin-top: 60px;
    margin-bottom: 60px;
    transition: all 1.0s;

}
// .is_2:hover{
//     background:image-url('jrcolor_24.png');
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: right 35% bottom 45%;
//     background-position: top 0px left 0;
//     transition: 1.0s ;
// }
// .picaso_20{
//     position: relative;
//     top: -56px;
//     left: 0;
//     width: 100%;
//     height: 463px;
// }
.is_3{
    position: relative;
    top: 0;
    left: 0;
    width: 80.3%;
    height: 463px;
    background-color: yellow;
    margin: 0 auto;
    background:image-url('wire_22.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top 0px left 0;
    transition: all 1.0s;

}
// .is_3:hover{
//     background:image-url('wirecolor_25.png');
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: top 0px left 0;
//     transition: 1.0s ;
// }

// designここまで
// footerここから
.footer{
    position: relative;
    top: 1806px;
    left: 0;
    width: 100%;
    height: 316px;
   
}
.footer_title{
    margin-top: 0;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding-top: 50px;
    padding-left: 10.2%;
    font-size : 24px;
}
.url{
    color: rgb(0, 0, 0);;
}
.link{
    margin-bottom: 0;
    box-sizing: border-box;
    margin-left: 10.2%;
    font-size : 12px;
}

.end{
    
    margin-left: 10.2%;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size : 12px;
}

// footerここまで
