
.is_not{
    width: 100%;
    height: 2760px;
    // background-color: pink;
}
.for_more{
    width: 100%;
    height: 2520px;
    // background-color: green;
    position: absolute;

}
.for_more_content{
    position: relative;
    top: 0;
    left: 59.6%;
    width: 24.5%;
    height: 150px;
    // background-color: white;
    display: inline-block;
}
.for_more_title{
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
}
.for_more_text{
    font-size: 14px;
}
.for_more_picture{
    position: relative;
    top: -166px;
    left: 10%;
    margin-bottom: 53px;
}
//solution pictureここから
.midori{
    position: relative;
    top: -215px;
    left: 10%;
     margin-bottom: 60px;
}
.dencha{
    position: relative;
    top: -222px;
    left: 10%;
    margin-bottom: 0px;
}
.tsubame{
    position: relative;
    top: -169px;
    left: 10%;
    margin-bottom: 0px;
}
.sonic{
    position: relative;
    top: -116px;
    left: 10%;
    margin-bottom: 0px;

}
.shinkansen{
    position: relative;
    top: -63px;
    left: 10%;
    margin-bottom: 0px;

}
.umisati{
    position: relative;
    top: -10px;
    left: 10%;
    margin-bottom: 0px;
}
.store{
    position: relative;
    top: -190px;
    left: 10%;
    // margin-bottom: 0px;
}
.display{
    position: relative;
    top: -189px;
    left: 10%;
    // margin-bottom: 0px;
}
.baterry{
    position: relative;
    top: -189px;
    left: 10%;
    // margin-bottom: 0px;
}
//solution pictureここまで
//portforio pictureここから
//KAN KOJIMA　ここから
.pink{
    position: relative;
    top: -214px;
    left: 10%;
    // margin-bottom: 134px;
}
.pink:hover{
    // opacity: 0.5;
    // background:image-url('kojimacolor_19.png');
}

.profile{
    position: relative;
    top: -186px;
    left: 10%;
    // margin-bottom: 134px;
}
.graph{
    position: relative;
    top: -160px;
    left: 10%;
    // margin-bottom: 134px;
}
.works{
    position: relative;
    top: -134px;
    left: 10%;
    // margin-bottom: 92px;
}
// .contact{
//     position: relative;
//     top: -100px;
//     left: 10%;
//     // margin-bottom: 134px;
// }
//KAN KOJIMA　ここまで
//Record app　ここから
.top{
    position: relative;
    top: -166px;
    left: 10%;
    // margin-bottom: 134px;
}
.create{
    position: relative;
    top: -30px;
    left: 10%;
    // margin-bottom: 134px;
}
//Record app　ここまで

//makotoクリニックとomikujiアプリは一緒のCSS
.makoto{
   position: relative;
   top: -150px;
   left: 10%; 
}
//Takayuki yamadaここから 
.top_face{
   position: relative;
   top: -150px;
   left: 10%; 
}
//Takayuki yamadaここまで 
//コジマ　カンここから

.how{
   position: relative;
   top:  -198px;
   left: 10%; 
}
.skill{
   position: relative;
   top:  -172px;
   left: 10%; 
}
.contact{
   position: relative;
   top:  -147px;
   left: 10%; 
}
.portland{
   position: relative;
   top:  -120px;
   left: 10%; 
}
//コジマ　カンここまで

//リンクタイトル
.site_link{
    text-decoration: none;
    color: rgba(0, 0, 3, 1);
}


//portforio pictureここまで
